<div class="topnav">
    <a [routerLink]="['/home']">Home</a>
    <a [routerLink]="['/list']">Lista</a>
    <a [routerLink]="['/feedback']">feedback</a>
    <a [routerLink]="['/profilo']">Profilo</a>
    <a (click)="logout()">Esci</a>
    <a class="destra"><img src="../../assets/images/logocinema.png" alt="logo"></a>
</div>
<div class="centro">
    <h1>BENVENUTO</h1><br>
    <img class="username" src="../../assets/images/username.png" alt="username">
</div><br>
<div class="form">
    <form class="form" (ngSubmit)="onSubmit(profileform.value)" [formGroup]="profileform">
        <input class="username" type="text" required formControlName="nome" placeholder="Nome"><br>
        <input class="username" type="text" required formControlName="cognome" placeholder="Cognome"><br>
        <select id="gender" required formControlName="gender">
      <option class="gender" placheholder="Maschio">Maschio</option>
      <option class="gender" placheholder="femmina">Femmina</option>
    </select><br>
        <input class="email" type="text" id="email" required formControlName="email" placeholder="Email"><br>
        <input class="telefono" type="text" id="telefono" required formControlName="telefono" placeholder="Telefono"><br>
        <button (click)="back()" class="bottone" type="button" name="login">Annulla</button>
        <button class="bottone" type="submit">Conferma</button><br>
    </form>

</div>