.topnav {
    overflow: hidden;
    background-color: none;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: none;
    border-bottom: 1px solid white;
}

.topnav a.active {
    background-color: none;
    color: white;
}

.topnav a.destra {
    float: right;
    cursor: default;
}

div.centro {
    text-align: center;
    position: fixed;
    left: 45.5%;
}

div.sinistra {
    text-align: right;
    width: 200px;
    height: 300px;
    position: fixed;
    top: 55%;
    left: 45%;
    margin: -100px 0 0 -175px;
}

div.right {
    text-align: left;
    width: 200px;
    height: 300px;
    position: fixed;
    top: 41%;
    left: 54%;
}

#hr2 {
    margin-top: 200px;
    height: 200px;
    position: fixed;
    left: 50%;
}

h1 {
    color: white;
}

p {
    color: white;
    font-size: 25px;
}

button.login {
    padding: 10px 45px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: lightblue;
    background-color: white;
    border: none;
    border-radius: 30px;
}

div.bottone {
    position: fixed;
    bottom: 8%;
    left: 44%;
}