<div class="topnav">
    <a class="active" [routerLink]="['/home']">Home</a>
    <a [routerLink]="['/list']">Lista</a>
    <a [routerLink]="['/feedback']">feedback</a>
    <a [routerLink]="['/profilo']">Profilo</a>
    <a [routerLink]="['/login']">Esci</a>
    <a class="destra"><img src="../../assets/images/logo.png" alt="logo"></a>
</div>

<div class="centro">
    <h1>BENVENUTO</h1><br>
    <img src="../../assets/images/username.png" alt="fotoprofilo">
</div>

<div class="sinistra">
    <p>Nome</p>
    <p>Cognome</p>
    <p>Gender</p>
    <p>Email</p>
    <p>Telefono</p>
</div>

<div>
    <hr id="hr2" class="uk-divider-vertical">
</div>

<div class="right" *ngFor="let ListItem of profileList">
    <p>{{ListItem.Nome}}</p>
    <p>{{ListItem.Cognome}}</p>
    <p>{{ListItem.Gender}}</p>
    <p>{{ListItem.Email}}</p>
    <p>{{ListItem.Telefono}}</p>
</div>

<div class="bottone">
    <button (click)="modifica()" class="login" type="button" name="login">Modifica</button>
</div>