<div class="navbody">
    <div class="topnav">
        <a ><button class="indietro" [routerLink]="['/list']"><mat-icon class="indietro">keyboard_backspace</mat-icon></button></a>
        <a>{{film.name}}</a>
        <a class="destra"><img src="../../assets/images/logocinema.png" alt="logocinema"></a>
    </div>
</div>


<div class="sinistra">
<h1 class="sinistra">{{film.name}}<br></h1>
</div>
<div class="descrizione">
    <h2><p>{{film.desc}}</p></h2>
</div>

<div class="centro">
    <img src={{film.desc}} alt="">
</div>


<div class="destra">
   <p>Durata: {{film.durataMinuti}}</p>
   <p>Genere: {{film.genere}}</p>
</div>

