<div class="navbody">
    <div class="topnav">
        <a><button class="indietro" [routerLink]="['/list']"><mat-icon class="indietro">keyboard_backspace</mat-icon></button></a>
        <a>{{film.name}}</a>
        <a class="destra"><img src="../../assets/images/logocinema.png" alt="logocinema"></a>
    </div>
</div>


<div class="sinistra">
    <h1 class="sinistra">{{film.name}}<br></h1>
</div>
<div class="descrizione">
    <h2>
        <p>{{film.desc}}</p>
    </h2>
</div>

<div class="centro">
    <img class="listimg" src={{film.img}} alt="">
</div>


<div class="destra">
    <p>Durata: {{film.durataMinuti}}</p>
    <p>Genere: {{film.genere}}</p>
</div>

<div class="navbar">
    <a target="blank" href="https://www.facebook.com/"><img src="../../assets/images/facebook.png" alt="facebook"></a>
    <a target="blank" href="https://www.instagram.com/"><img src="../../assets/images/instagram.png" alt="instagram"></a>
    <a target="blank" href="https://twitter.com/explore"><img src="../../assets/images/twitter.png" alt="telegram"></a>
    <a target="blank" href="https://www.snapchat.com/"><img src="../../assets/images/snapchat.png" alt="telegram"></a>
    <a target="blank" href="https://www.pinterest.com/"><img src="../../assets/images/pinterest.png" alt="telegram"></a>

</div>