.topnav {
    overflow: hidden;
    background-color: none;
}

.listimg {
    max-width: 90px;
    max-height: 180px;
    margin-left: 10px;
    margin-right: 10px;
    resize: both;
    float: left;
}

.topnav a {
    cursor: pointer;
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: none;
    border-bottom: 1px solid white;
}

.topnav a.active {
    background-color: none;
    color: white;
    border-bottom: 1 px solid white;
}

.topnav a.destra {
    float: right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    cursor: default;
}

.topnav a:hover {
    background-color: none;
    border-bottom: 1px solid white;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid white;
    background: none;
    background: url("../../../assets/images/search.png") no-repeat scroll 4px 4px;
    padding-left: 40px;
    color: white;
}

button.bottone {
    padding: 10px 25px;
    font-size: 17px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: lightblue;
    background-color: white;
    border: none;
    border-radius: 30px;
    margin-right: 10px;
    margin-left: 10px;
}

div.elemento {
    padding-top: 3%;
    padding-bottom: 10%;
    font-size: 17px;
    text-decoration: none;
    outline: none;
    color: blue;
    background-color: rgb(203, 236, 247);
    border: none;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 20%;
}

.elemento h3 {
    color: blue;
    margin-bottom: 15px;
    padding-left: 10px;
}

.contenitore {
    float: right;
}

button.icone {
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    margin-left: 3px;
}

button.more {
    padding: 15px 55px;
    font-size: 17px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: lightblue;
    background-color: white;
    border: none;
    border-radius: 30px;
    margin-right: 10px;
    margin-left: 42%;
    margin-top: 20px;
    margin-bottom: 15px;
}

.scritte {
    width: 800px;
    height: 15px;
    margin-left: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

mat-icon.iconcine {
    margin-top: 7px;
    margin-right: 10px;
}