<div class="navbody">
    <div class="topnav">
        <a>Home</a>
        <a>Homepage</a>
        <a>Lista</a>
        <a>Cards</a>
        <a>feedback</a>
        <a>Profilo</a>
        <a>Esci</a>
        <a class="destra"><img src="../../assets/images/logocinema.png" alt="logocinema"></a>
        <a class="destra"><input type="text" [(ngModel)]="searchword" (input)="searchThis(searchword)" placeholder="Cerca"></a>
    </div>
</div>
<div>

    <button class="bottone" mat-button [disabled]="resetcheck" (click)="resetList();" value="reset">
        Tutti
</button>
    <button class="bottone" mat-button [disabled]="favouritecheck" (click)="favouriteList();" value="favourites">
        Preferiti
</button>
    <button class="bottone" mat-button [disabled]="hidecheck" (click)="showHidden();" value="hidden">
            Nascosti
    </button>
</div>
<ng-container *ngFor="let filmItem of filmList | slice : 0 :showmore">
    <div class="elemento" *ngIf="filmItem.show || hidecheck">
        <div class="scritte">
        <h2>{{filmItem.name}}</h2>
        <p>{{filmItem.desc}}</p>
    </div>
        <div class="contenitore">
            <!--redirect alla pagina di dettaglio-->
            <button class="icone" [routerLink]="['/FilmDetail', filmItem.id]"><mat-icon>more_vert</mat-icon></button>
            <!--hide button-->
            <ng-container *ngIf="filmItem.show ==true; else elseshow"><button class="icone" (click)="removeShowStatus(filmItem.id)"><mat-icon>visibility_off</mat-icon></button></ng-container>
            <ng-template #elseshow><button class="icone" (click)="setShowStatus(filmItem.id);showHidden();"><mat-icon>visibility</mat-icon></button></ng-template>
            <!--fav button-->
            <ng-container *ngIf="filmItem.favourited ==false; else elsebutton"><button class="icone" (click)="setFavourite(filmItem.id)"><mat-icon>favorite_border</mat-icon></button></ng-container>
            <ng-template #elsebutton><button class="icone" (click)="removeFavourite(filmItem.id);favouriteList();"><mat-icon>favorite</mat-icon></button></ng-template>
        </div>
    </div>
</ng-container>
<!--showmore/less button-->
<ng-container *ngIf="showmore<filmList.length; else elseblock"><button class="more" (click)="showMoreItems()">Mostra di più</button></ng-container>
<ng-template #elseblock><button class="more" *ngIf="filmList.length>5" (click)="showmore=5">Mostra di meno</button></ng-template>