  <div class="topnav">
        <a>Homepage</a>
        <a>Lista</a>
        <a>Cards</a>
        <a>feedback</a>
        <a>Profilo</a>
        <a>Esci</a>
        <a class="destra"><img src="../../assets/images/logocinema.png" alt="logocinema"></a>
    </div>
    
    <div uk-slideshow="autoplay: true;pause-on-hover: false">
    <div id="carosello"class="uk-position-relative uk-visible-toggle" tabindex="-1" uk-slideshow="animation: push">
        

        <ul class="uk-slideshow-items">
            <li>
                <p class="descrizione">A paraplegic Marine dispatched to the moon Pandora on a unique mission becomes torn between following his orders and protecting the world he feels is his home. When his brother is killed in a robbery, paraplegic Marine Jake Sully decides to take his place in a mission on the distant world of Pandora.</p>
            </li>
            <li>
                <p class="descrizione">The Seven Sisters are a series of chalk cliffs by the English Channel. They form part of the South Downs in East Sussex, between the towns of Seaford and Eastbourne in southern England. They are within the South Downs National Park which is bounded by the coast, the Cuckmere and the A259 road.</p>
                
            </li>
            <li>
                <p class="descrizione">In popular culture and UFO conspiracy theories, men in black (MIB) are supposed men dressed in black suits who claim to be quasi-government agents who harass or threaten UFO witnesses to keep them quiet about what they have seen. It is sometimes implied that they may be aliens themselves.</p>
                
            </li>
            <li>
                <p class="descrizione">Fleming's concept of Bond. The central figure in Ian Fleming's work is the fictional character of James Bond, an intelligence officer in the Secret Service. Bond is also known by his code number, 007, and was a Royal Naval Reserve Commander. ... In Bond, he created a Bulldog Drummond for the jet age.</p>
            </li>
        </ul>
        
        <div class="uk-light">
            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
        </div>
        
    </div>
    </div>
    <div uk-slideshow="autoplay: true; pause-on-hover: false">
        <div id="carosello2"class="uk-position-relative uk-visible-toggle" tabindex="-1" uk-slideshow="animation: push">
            
            <h1 class="titolo">INIMENOUNO TV</h1>

            <ul class="uk-slideshow-items">
                <li>
                    <img src="../../assets/images/avatar.png" alt="avatar" uk-cover>
                  
                </li>
                <li>
                    <img src="../../assets/images/sevensister.png" alt="SevenSister" uk-cover>
                    
                </li>
                <li>
                    <img src="../../assets/images/mib.png" alt="mib" uk-cover>
                    
                </li>
                <li>
                    <img src="../../assets/images/bond007.jpg" alt="bond" uk-cover>
                </li>
            </ul>
           
        
        
            
        </div>
        </div>
        <div class="navbar">
            <a href="#home" class="active"><img src="../../assets/images/facebook.png" alt="facebook"></a>
            <a href="#news"><img src="../../assets/images/instagram.png" alt="instagram"></a>
            <a href="#contact"><img src="../../assets/images/twitter.png" alt="telegram"></a>
            <a href="#contact"><img src="../../assets/images/snapchat.png" alt="telegram"></a>
            <a href="#contact"><img src="../../assets/images/pinterest.png" alt="telegram"></a>
            
          </div>
          
          